<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Site sur les activités de création artistique de Happy Lalou"
    />
    {{ $style := resources.Get "css/styles.css" | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
    <link rel="icon" type="image/svg+xml" href="{{ "favicon.svg" | relURL }}">
    <title>{{ block "title" . }} {{ .Site.Title }} {{ end }}</title>
  </head>
  <body>
    <header>{{ partial "header" . }}</header>

    <main role="main">{{ block "main" . }}{{ end }}</main>

    <footer>{{ partial "footer.html" . }}</footer>
  </body>
</html>
