{{ define "main" }}
<h1>Posts</h1>

{{ $allTags := slice }} {{ range .Pages }} {{ range .Params.tags }} {{ $allTags
= $allTags | append . }} {{ end }} {{ end }} {{ $allTags = $allTags | uniq |
sort }} 

<div class="tag-filter" role="navigation" aria-label="Filtrer les posts avec un tag">
  {{ range $allTags }}
  <a href="{{ "/tags/" | relURL }}{{ . | urlize }}" class="tag" aria-label="Filtrer les posts avec le tag {{ . }}">{{ . }}</a>
  {{ end }}
</div>

{{ partial "posts-list.html" . }} 

{{ end }}
