/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* General */
body {
  max-width: 75rem;
  margin: 1.5rem auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem; /* 10px */
}

nav a img {
  display: block;
  width: 5rem; /* 80px */
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.25rem; /* 20px */
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  font-size: 1rem; /* Default body text size */
  text-decoration: none;
}

nav {
  position: relative;
  padding-bottom: 30px; /* Adjust for spacing */
}

h1,
h2 {
  color: blue;
}

footer {
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Ensure responsiveness */
  padding: 0.625rem;
  margin: 0 auto;
}

.footer-copyright,
.footer-license {
  flex: 1; /* Make both sections take up equal width */
  font-size: 0.85rem; /* Smaller text size */
  color: #555; /* Darker color for readability */
  word-wrap: break-word;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column; /* Stack elements on smaller screens */
    text-align: center;
  }

  .footer-left,
  .footer-right {
    max-width: 100%;
  }
}

/* Posts */
.post-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Keep text color */
}

.post-preview {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.post-preview:hover {
  background-color: #f0f0f0; /* Light gray background on hover */
  cursor: pointer;
}

.post-thumbnail {
  width: 100px;
  height: auto;
  border-radius: 5px;
}

.post-info {
  display: flex;
  flex-direction: column;
}

.post-info h1 {
  size: 1rem;
}

.post-meta {
  font-size: 0.9em;
  color: #777;
}

.author {
  font-weight: bold;
}

.date {
  font-style: italic;
}

.tags {
  font-size: 0.85em;
}

.tag {
  background: #eee;
  padding: 3px 6px;
  border-radius: 4px;
  margin-right: 5px;
  font-size: 0.85em;
  color: #555;
}
